.shop_info_rating {
  font-size: small;
  background-color: rgb(17, 183, 17);
}
.user_reviews {
  overflow: scroll;
}
.user_reviews::-webkit-scrollbar {
  display: none;
}
.user_reviews_info {
  margin-right: 10px;
}
.user_reviews_details {
  font-size: 0.9rem;
  overflow: hidden;
  height: 60px;
}
.deals_in_img {
  width: 80%;
  height: 50%;
  text-align: center;
}
.deals_in_company {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

.img-fluid {
  height: 50px;
}
.menu_items {
  display: none;
}
.service_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.askQuestions {
  background-color: #ffeaaa;
}
.askQuestions_input {
  color: #130f26;
  border-radius: 21px;
  box-shadow: 0px 1px 1px #ffca28;
  border: 1px solid #ffca28;
}
.tyre_info {
  overflow: hidden;
}
.tyre_info_detail {
  font-size: small;
}
.tyre_info_img {
  position: relative;
  right: -40%;
  bottom: -10%;
}
.filter_by {
  width: 100%;
}
.nav_menu {
  display: none;
}
@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .tyre_info_shop_details {
    flex-direction: column-reverse;
  }
  .tyre_info_shop_name {
    flex-direction: column-reverse;
  }
  .tyre_info_verify {
    position: relative;
    top: -30px;
  }
}
